/* การตั้งค่าเบื้องต้นสำหรับ body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* การตกแต่ง header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* การตกแต่ง h1 */
h1 {
    margin: 0;
    font-size: 2.5em;
}

/* การตกแต่ง main */
main {
    padding: 20px;
}

/* การตกแต่งข้อความใน p */
p {
    font-size: 1.2em;
    color: #333;
}

/* การตกแต่งลิสต์ใน ul */
ul {
    list-style-type: none;
    padding: 0;
}

/* การตกแต่งรายการใน li */
li {
    margin: 10px 0;
}

/* การตกแต่งลิงค์ */
a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
}

/* เปลี่ยนสีของลิงค์เมื่อชี้ */
a:hover {
    color: #0056b3;
}

/* การตกแต่ง footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* การตกแต่ง h2 */
h1 {
    margin: 0;
    font-size:1 em;
}